<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>List for clubs</title>
    <script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div th:each="club : ${clubs}">
    <div th:text="${club.id}">Id</div>
    <div th:text="${club.name}">Name</div>
    <div th:text="${club.intro}">Intro</div>
</div>
</body>
</html>